/* Reset CSS básico */

h1 {
  color:rgba(0, 0, 0, 0.753);
  margin-top: auto;
  

 
}
 #links a {
  margin-right: 90px;
  padding-right: 90px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  margin-left: 49px;

  
  
}

body {
  font-family: Arial;
  
}

div#links{
  list-style-type: none;
  background-color: black;
  padding: 10px
  
}


footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#cabeçalho img{
  border-radius:90px;
  
}
   section  {
  
 
 
}
